.thumbnailWrapper {
	width: auto;
	margin: 10px auto;
}

#content div.thumbnailWrapper ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#content div.thumbnailWrapper ul li {
	float: left;
	margin: 0;
	position: relative;
	overflow: hidden;
	border: 1px solid #CCC;
	margin: 2px;
}

#content div.thumbnailWrapper ul li a img {
	position: relative;
	border: none;
}

.caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: none;
	background: #0c4b62;
	color: white;
	opacity: 0.9;
	text-align: center;
	font-size: 17px;
	line-height: 100%
}

.caption .captionInside {
	padding: 5px 10px;
	margin: 0px;
}

li.row_0 {
	clear: left; /* this is for making columns */
	margin-left: 0;
}

.thumbnailWrapper li img {
	height: 100%;
}

