*.egg-info
*.mo
*.pyc
*~
.*.kate-swp
.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
parts/
var/
