/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Image Width: 568
Image Height: 268
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/

.slider-wrapper {
    background:url(++resource++plonetruegallery.resources/nivoslider/css/orman/slider.png) no-repeat;
    margin:0 auto;
    padding-top:18px;
    position:relative;
}

 .nivoSlider {
    position:relative;
    margin-left:77px;
    background:url(++resource++plonetruegallery.resources/nivoslider/css/orman/loading.gif) no-repeat 50% 50%;
}
 .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
 .nivoSlider a {
    border:0;
    display:block;
}

 .nivo-controlNav {
    position:absolute;
	bottom:-60px;
    width:  100%;
    text-align: center;
}
 .nivo-controlNav a {
	display:inline-block;
    width:10px;
    height:10px;
    background:url(++resource++plonetruegallery.resources/nivoslider/css/orman/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
}
 .nivo-controlNav a.active {
    background-position:0 -10px;
}

 .nivo-directionNav a {
	display:block;
	width:25px;
	height:200px;
	background:url(++resource++plonetruegallery.resources/nivoslider/css/orman/arrows.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
    top:40px;
}
 a.nivo-nextNav {
	background-position:100% 50%;
	right:-40px;
    padding-right:20px;
}
 a.nivo-prevNav {
	left:-40px;
    padding-left:20px;
}

 .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
 .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
 .nivo-caption a:hover { 
    color:#fff;
}

 .ribbon {
    background:url(++resource++plonetruegallery.resources/nivoslider/css/orman/ribbon.png) no-repeat;
    width:111px;
    height:111px;
    position:absolute;
    top:-3px;
    left:56px;
    z-index:300;
}