/*
Skin Name: Bendit Theme
Version: 1.0
Author: Espen Moe-Nilssen
Author URI: http://products.medialog.no
*/

.slider-wrapper {
    background: url(++resource++plonetruegallery.resources/nivoslider/css/bendit/bendmybackground.png) no-repeat center top;
    padding: 0;
    position:relative;
    background-size: 100% 100% !important;
    margin-bottom: 65px;
    padding-bottom: 15px;
}

 .nivoSlider {
    position: relative;
    margin:8px auto 32px auto;
	top: 25px;
}
 
 .nivoSlider a {
    display:block;
}

 .nivo-controlNav {
    height:40px;
    position:absolute;
    bottom:-90px;
    z-index:20;
    width: 100%;

    text-align: right;
}
 .nivo-controlNav a {
    display:inline-block;
    width:42px;
    height:42px;
    border: 1px solid #DDD;
    margin-left: 10px;
    color:  white !important;
    text-align: center;
    overflow: hidden
}

 .nivo-controlNav a img {
	margin: 1px;
	width: 40px;
	height: 40px;
}
 .nivo-controlNav a.active {
	border-color: #999;
}

 .nivo-caption {
    bottom:-22px;
    left:auto;
    right:0px;
    width:auto;
    overflow:hidden;
    text-shadow:none;
    background: none !important;
    font-family: courier;
}
 .nivo-caption p {
    padding:0;
    color:#333;
    font-weight:bold;
    font-size:18px;
    text-transform:uppercase;

}
 .ribbon {
    position:absolute;
}