body {
	height: 100%;
}

#supersized img { 
    width:auto; 
    height:auto; 
    position:relative; 
    display:none; 
    outline:none; 
    border:none; }


#supersized-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	text-indent: -999em;
	background: url(++resource++plonetruegallery.resources/supersized/progress.gif) no-repeat center center;
}

#supersized {
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -999;
	height: 100%;
	width: 100%;
}

#supersized img {
	width: auto;
	height: auto;
	position: relative;
	outline: none;
	border: none;
}

#supersized a {
	z-index: -30;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111;
	display: block;
}

#supersized a.image-loading {
	background: #111 url(++resource++plonetruegallery.resources/supersized/progress.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}