.nivoSlider {
	position:relative;
	background:#fff url(++resource++plonetruegallery.resources/nivoslider/css/default/loading.gif) no-repeat 50% 50%;
    margin-bottom:110px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
 .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
 .nivoSlider a {
	border:0;
	display:block;
}

 .nivo-controlNav {
 height:  70px;;
 width: 100%;
 position: absolute;
 bottom:  -90px;
 left: 0;
}
 .nivo-controlNav a {
	display:block;
	width:90px;
	height:52px;
	overflow: hidden;
	text-indent:-9999px;
	border:0;
	margin-right:13px;
	float:left;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.nivo-controlNav a.active {
	text-decoration: underline;
}

 .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(++resource++plonetruegallery.resources/nivoslider/css/default/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

.nivo-directionNav a img{
	border:  0;
	margin: 0;
	padding:  0;
}

 a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
 a.nivo-prevNav {
	left:15px;
}

 .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
 .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
 .nivo-caption a:hover {
    color:#fff;
}

div.ribbon {
	display: none;
}
