/*
Skin Name: Oldstyle Theme
Author: Espen Moe-Nilssen
Author URI: http:medialog.no
*/

.slider-wrapper {
    margin:0;
    padding-top:0;
    position:relative;
    margin-top: 20px;

}

 .nivoSlider {
    position:relative;
    margin:auto;
    background:url(++resource++plonetruegallery.resources/nivoslider/css/pascal/loading.gif) no-repeat 50% 50%;
}
 .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
        padding-bottom: 50px;

}
 .nivoSlider a {
    border:0;
    display:block;
}

 .nivo-controlNav {
    height:22px;
    position:absolute;
    bottom:-40px;
    z-index:20;
    width: 100%;
    text-align: center;
    z-index: 99;
}
 .nivo-controlNav a {
    display:inline-block;
    width:22px;
    height:22px;
    background: url(++resource++plonetruegallery.resources/nivoslider/css/pascal/bullets.png) no-repeat;
    background-position: 4px 5px;
    text-indent:-9999px;
    border:0;
}
 .nivo-controlNav a.active {
    background-position: 4px -17px;
}

 .nivo-directionNav a {
	display:none;
}

 .nivo-caption {
    bottom:30px;
    left:auto;
    right:50px;
    width:auto;
    overflow:hidden;
    background:#fff;
    text-shadow:none;
    font-family: arial, serif;
    color:#4c4b4b;
}
 .nivo-caption p {
    padding:5px 15px;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}
 .nivo-caption a { 
    color:#333;
    font-weight:bold;
    text-transform:uppercase;
}

 .ribbon {
    background: url(++resource++plonetruegallery.resources/nivoslider/css/oldframe/photoframe.png);
    background-repeat: no-repeat;
    background-position: center top;
    width:100%;
    background-size:100% 100%; 
    position:absolute;
    top:0;
    left:0;
    z-index:18;
}