/* @override http://localhost:8080/asdfasdfs/++resource++plonetruegallery.resources/presentation/style.css */

.presentationWrapper {
	overflow-y: hidden;
}
.presentationWrapper ul {
	padding: 0;
	margin: 0 !important;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;

}

.presentationWrapper li {
  border-left: 1px solid #FFF;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin: 0;
  padding: 0;
}

li.row_0 {
	clear: left; /* this is for making columns */
	border-left: 0 none;
}

div.presentationshadow {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: relative;
	top: 0;
	right: 0;
	background: url(++resource++plonetruegallery.resources/presentation/presentation-shadow.png) repeat-y right;
}


div.presentationtext {
	background: #000;
	opacity: 0.7;
	width: 100%;
	height:  57px;
	position:absolute;
	bottom: 0;
	z-index: 2;
	padding-top: 7px;
}

div.presentationtext p,
div.presentationtext h3 {
	color:  white;
	margin-left: 15px;
	text-decoration: none;
}

.unpresented p,
.unpresente h3 {
	display: none;
}