/* @override http://localhost:8080/test/portal_css/Sunburst%20Theme/++resource++plonetruegallery.resources/style.css */

/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Image Width: 630
Image Height: 235
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
*/

.slider-wrapper {
    background:url(++resource++plonetruegallery.resources/nivoslider/css/pascal/slider.png) no-repeat;
    margin:0 auto;
    padding-top:17px;
    position:relative;
}

 .nivoSlider {
    position:relative;
    margin-left:19px;
    background:url(++resource++plonetruegallery.resources/nivoslider/css/pascal/loading.gif) no-repeat 50% 50%;
}
 .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;

}
 .nivoSlider a {
    border:0;
    display:block;
}

 .nivo-controlNav {
    height:40px;
    position:absolute;
    bottom:-42px;
    z-index:20;
    width: 100%;
    text-align: center;
}
 .nivo-controlNav a {
    display:inline-block;
    width:22px;
    height:22px;
    background: #DDD url(++resource++plonetruegallery.resources/nivoslider/css/pascal/bullets.png) no-repeat ;
    background-position: 4px 5px;
    text-indent:-9999px;
    border:0;
}
 .nivo-controlNav a.active {
    background-position: 4px -17px;
}

 .nivo-directionNav a {
	display:none;
}

 .nivo-caption {
    bottom:80px;
    left:auto;
    right:0px;
    width:auto;
    overflow:hidden;
    background:#fff;
    text-shadow:none;
    font-family: arial, serif;
    color:#4c4b4b;
}
 .nivo-caption p {
    padding:5px 15px;
    color:#333;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}
 .nivo-caption a { 
    color:#333;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}

 .ribbon {
    background:url(++resource++plonetruegallery.resources/nivoslider/css/pascalribbon.png) no-repeat;
    width:111px;
    height:111px;
    position:absolute;
    top:-8px;
    left:-8px;
    z-index:30;
}