
/*
Skin Name: TV Theme
Author: Espen Moe-Nilssen
*/

.slider-wrapper {
	margin: 13px 0 70px 0;
    position:relative;
}

 .nivoSlider {
    position:relative;
    margin:auto;
    background:url(++resource++plonetruegallery.resources/nivoslider/css/pascal/loading.gif) no-repeat 50% 50%;
    width: 100% !important;
}
 .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;

}
 .nivoSlider a {
    border:0;
    display:block;
}

 .nivo-controlNav {
    height:40px;
    position:absolute;
    bottom:-70px;
    z-index:20;
    width: 100%;
    text-align: right;
}
 .nivo-controlNav a {
    display:inline-block;
    width:22px;
    height:22px;
    background: url(++resource++plonetruegallery.resources/nivoslider/css/pascal/bullets.png) no-repeat ;
    background-position: 4px 5px;
    border:0;
}
 .nivo-controlNav a.active {
    background-position: 4px -17px;
}

 .nivo-directionNav a {
	display:none;
}

 .nivo-caption {
    bottom:13px;
    left:auto;
    right:0px;
    width:auto;
    overflow:hidden;
    background:#fff;
    text-shadow:none;
    font-family: arial, serif;
    color:#4c4b4b;
}
 .nivo-caption p {
    padding:5px 30px 5px 10px;
    color:#333;
    font-weight:bold;
    font-size:17px;
}
 .nivo-caption a { 
    color:#333;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}

 .ribbon {
    background:url(++resource++plonetruegallery.resources/tv2.png) no-repeat;
    background-size: 100% 100%;
    width:102%;
    height:100%;
    position:absolute;
 	left: -1%;
 	right:  -1%;;
 	right: -1%;
 	top:  -1%;;
    z-index:9;
 
}