p.plonetruegallery {
	margin: 0;
	padding: 7px 0;
}

p.plonetruegallery a {
	outline: none;	
	margin-right: 20px;
}

p.plonetruegallery a img {
	border: 1px solid #CCC;
	padding: 2px;	
	margin: 10px 5px 10px 0;
}

#subgallery-browse-wrapper{
    margin-top:10px;
}

#subgallery-search *{
    color: white;
}

#subgallery-search{
    background-color: #A8A8A8;
    padding: 10px;
}

#subgallery-search span{
    font-weight: bold;
}

#subgallery-search form{
    display:inline;
}

#subgallery-search input, #subgallery-search button{
    color: black;
}

#subgallery-galleries{
    list-style-type: none;
}

#subgallery-galleries li{
    float: left;
    font-size: 12px;
    list-style-type: none;
    margin: 0 3px 0 4px;
    padding: 0;
    letter-spacing: normal;
}

#subgallery-galleries li a{
    display: block;
    width: 160px;
    height: 120px;
    padding: 10px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

#subgallery-galleries li a:hover{
    background-color: #DDD;
}

#subgallery-galleries li a img{
    max-height: 100px;
}

div.spacer {
    clear: both;
    font-size: 1px;
    line-height: 1px;
}