.contactsheet {
 position: relative;
}

.contactsheet a {
    display: block;
    position: relative;
    float:  left;
    margin: 30px 20px;
    text-decoration: none;
}

.contactsheet a img {
    position: relative;
    margin: 0;
    padding: 0;
}

.contactsheet a div {
	display: none;
	height: auto;
	bottom: 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    z-index: 100;
    opacity: 0.7;
    color:  white;
}

.image-desc {
	clear: both;
	font-size: 40%;
	font-style: italic;
	font-weight: normal;
	margin-top: 16px
}
a.row_0 {
	clear: left;
	margin-left:  0;
}