.contactsheet {
    margin: 0 9px 9px 0;
    position: relative;
}

/* not used yet */
.no-margin {
    margin-right: 0;
}

.contactsheet a {
    display: block;
    position: relative;
    float:  left;
    border: 3px solid #eee;
    overflow: hidden;
    margin-left:  10px;
    margin-bottom: 10px;
}

.contactsheet a img {
    position: relative;
    left: -10px;
    top: -10px;
    margin: 0;
    padding: 0;
}

.contactsheet a div {
	display: none;
	height: 100%;
    padding-top: 30%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #eeeeee;
    text-shadow: #000 0px 0px 20px;
}

.image-desc {
	clear: both;
	font-size: 40%;
	font-style: italic;
	font-weight: normal;
	margin-top: 16px
}
a.row_0 {
	clear: left;
	margin-left:  0;
}